*{
    font-family: "Inter", serif;
}
.logo{
    width: 105px;
}
.login{
    background-color:seagreen;
    color: white;
    font-size: 12px;
}
.login:hover{
    background-color:seagreen;
    color: white;
}
header{
    position:fixed;
    background-color: #086a08;
}
header a{
    text-decoration: none;
    color:white;
}
.tag{
    font-size: 10px;
    color: white;
}
.button{
    text-decoration: none;
    color: white;
}
.back{
    background-image:url(pexels-pixabay-235925_1400x909.jpg);
}
.cont{
    border-radius: 3px;
    background-color:rgb(0,0, 0,0.6) ;
}
form h1{
    color: white;
}
form label{
    color: white;
}
.bga{
    background-color: #169b16;
    border-color: #169b16;
}
.bga:hover{
    background-color: #169b16;
    border-color: #169b16;
}
.gol{
    border-radius: 5px!important;
}
.colo{
    background-image: url(pexels-pixabay-235925_1400x909.jpg);
}
.bfl{
    background-image:url(pexels-ersin-1398102958-29071813\ \(1\).jpg) ;
    margin-top: 21px;
}
.cfl{
    background-color:rgb(0,0, 0,0.6);
    color:black;
    background-color: white;
}
.cfl a{
    color: black;
}
.cfl h2,.cfl p{
    text-align: center;
}

.input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}
.k1{
    background-color: #169b16;
    border: 1px solid #169b16;
}
.k1:hover{
    background-color: #169b16;
    border: 1px solid #169b16;
}
.hel{
    border: 1px solid white;
    border-radius: 3px;
}
.so{
    background-color: rgba(0, 0, 0, 0.3);
}
.op{
    padding-bottom: 220px;
}
.si{
    font-size:25px ;
}
.si1{
    font-size:60px ;
    color: #169b16;
}
.im{
    background-image: url(1000_F_440160837_DMiDSM7wJozh0fppo3CeybQf7Ac5WwGZ\ \(1\).jpg);
    text-align: center;
    align-items: center!important;
}
.lo{
    width: 100px;
}
.sece{
    padding-top: 160px;
}
.b1{
    text-decoration: none;
    color: white;
}
.b2:hover{
 background-color: #169b16;
 color: white;
}
.b2{
    margin-top: 268px;
    background-color: #169b16;
    border: #169b16;
}

.b3,.b4,.b5{
    margin-left: 5px;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.b3{
    border: 2px solid #169b16;
}
.b4{
    border: 2px solid orangered;
}
.b5{
    border: 2px solid rgb(35, 35, 206);
}
.b6{
    padding-bottom: 90px;
}
.b7{
    border: 2px solid #879b16;
    height: 380px;
}
.b8{
    border: 2px solid #169b16;
    height: 380px;
}
.b9{
    border: 2px solid #1b9ed6;
    height: 380px;
}
.b10{
    border: 2px solid #1e128b;
    height: 380px;
}
.b11{
    border: 2px solid #9b1616;
    height: 380px;
}


.b12,.b13{
    border: 1px solid #169b16;
    height: 300px;
}
/* footer */
ul{
    list-style: none;
  }
  .footer{
    background-color:#1c871c;
      padding: 70px 0;
      color: black;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: black;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /* popup */
  .popup{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height:459%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:start;

  }
  .popup-content{
    width: 770px;
    height: 520px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    top: 84px;
  }
  .close{
    position: absolute;
    top: -15px;
    right:-15px ;
    height: 23px;
    width: 35px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  /* weather */
  .conto {
    margin-top: 20px;
    text-align: center;

    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/07/81/seamless-weather-forecast-background-vector-2000781.jpg);
    height:500px;
    margin-bottom: 10px;
}
.weather-input {
    margin-bottom: 20px;
    padding-top: 151px;
    
}
.weather-input button{
    border-radius: 10px;
}
input {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}
button {
    padding: 10px;
    margin-left: 10px;
}
.weather-data {
    margin-top: 20px;
    color: #fff;
}
  
.a0{
text-align: center;
border-bottom: 2px solid black;
border-top: 2px solid black;
border-left:2px solid black ;
}
.a1,.a2,.a3{
    border-right:2px solid black ;
    border-left:2px solid black ;
}
.bot{
    width: 100%;
    border: 0px none;
    background-color: #fff;
    cursor: pointer;
}
.j1{
    text-align: center;
    height:auto;
    justify-content: center;
    align-items: center;
    margin-top:16px ;
    padding-top: 10px;
    margin-bottom: 16px;
    
}
  .j2{
    height: auto;
    width: auto;
    padding-bottom: 10px;
    padding-bottom:10px ;
    margin-bottom: 10px;
  }
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  